<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Turan_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Turan_GUI.Properties.Settings>
            <setting name="ProfileName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ProfileDir" serializeAs="String">
                <value>def_profile</value>
            </setting>
            <setting name="DefSampleRate" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="AmplitudeThreshold" serializeAs="String">
                <value>12000</value>
            </setting>
        </Turan_GUI.Properties.Settings>
    </userSettings>
</configuration>