<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Felismero_motor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SoundCatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Felismero_motor.Properties.Settings>
            <setting name="SettingIsDetectingEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingIsSaving" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingOutputPath" serializeAs="String">
                <value>dat\</value>
            </setting>
            <setting name="SettingSecondsToSave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingAmplitudeThreshold" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="SettingSamplesPerSecond" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="SettingBytesPerFrame" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="SettingBitsPerSample" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SettingChannels" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SettingAudioInputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SettingAudioOutputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SettingEngineMode" serializeAs="String">
                <value>LPC</value>
            </setting>
        </Felismero_motor.Properties.Settings>
        <SoundCatcher.Properties.Settings>
            <setting name="SettingIsDetectingEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingIsSaving" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingSecondsToSave" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SettingAmplitudeThreshold" serializeAs="String">
                <value>25384</value>
            </setting>
            <setting name="SettingSamplesPerSecond" serializeAs="String">
                <value>22050</value>
            </setting>
            <setting name="SettingBytesPerFrame" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="SettingBitsPerSample" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SettingChannels" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SettingAudioInputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SettingAudioOutputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
        </SoundCatcher.Properties.Settings>
    </userSettings>
</configuration>